---
import MarkdownPageLayout from "../../layouts/MarkdownPageLayout.astro";
import { getDb, getPostBySlug } from "../../lib/db";

const slug = Astro.params.slug || "";
const post = await getPostBySlug(getDb(Astro.locals), slug);
if (!post) {
  Astro.response.status = 404;
}
---

{
  post ? (
    <MarkdownPageLayout
      title={post.title}
      description={post.description}
      date={post.publishedAt}
      tags={post.tags}
    >
      <Fragment set:html={post.body.replace(/\n/g, "<br />")} />
    </MarkdownPageLayout>
  ) : (
    <MarkdownPageLayout title="記事が見つかりません" description="Not Found">
      <p>指定された記事は存在しないか、まだ公開されていません。</p>
    </MarkdownPageLayout>
  )
}
