<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Tab (Tab Key Navigation)</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../../../.storybook/prose.css">
<link rel="stylesheet" href="../heading/heading.css">
<link rel="stylesheet" href="../link/link.css">
<link rel="stylesheet" href="tab.css">
<script type="module" src="tab.js"></script>
</head>
<body>

<div class="dads-heading" data-size="24" style="margin-bottom: calc(16 / 16 * 1rem);">
  <h2 id="tab-heading" class="dads-heading__heading">タブ見出し</h2>
</div>

<dads-tab class="dads-tab">
  <ul class="dads-tab__list" data-js-tab-list aria-labelledby="tab-heading">
    <li><a class="dads-tab__tab" href="#sp-1" data-js-tab aria-current="true"><span>タブラベル</span></a></li>
    <li><a class="dads-tab__tab" href="#sp-2" data-js-tab><span>タブラベル</span></a></li>
    <li><a class="dads-tab__tab" href="#sp-3" data-js-tab><span>タブラベル</span></a></li>
    <li><a class="dads-tab__tab" href="#sp-4" data-js-tab><span>タブラベル</span></a></li>
    <li><a class="dads-tab__tab" href="#sp-5" data-js-tab><span>タブラベル</span></a></li>
  </ul>
  <div class="dads-tab__panels">
    <div id="sp-1" class="dads-tab__panel">
      <div class="prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      </div>
    </div>
    <div id="sp-2" class="dads-tab__panel">
      <div class="prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam. <a class="dads-link" href="#">リンクテキスト</a></p>
      </div>
    </div>
    <div id="sp-3" class="dads-tab__panel">
      <div class="prose">
        <ul>
          <li>リスト項目あ</li>
          <li>リスト項目い</li>
          <li>リスト項目う</li>
          <li>リスト項目え</li>
          <li>リスト項目お</li>
          <li>リスト項目か</li>
        </ul>
      </div>
    </div>
    <div id="sp-4" class="dads-tab__panel">
      <div class="prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <dl>
          <dt>用語あ</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
          <dt>用語い</dt>
          <dd>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
          <dt>用語う</dt>
          <dd>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</dd>
        </dl>
      </div>
    </div>
    <div id="sp-5" class="dads-tab__panel">
      タブパネルの内容（5番目）
    </div>
  </div>
</dads-tab>

</body>
</html>
